@model WebDV.Models.Submission[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        @if (Model.Length == 0)
        {
            <h2>No Submission Found</h2>
        }
        else
        {
            <h1>Submission details for @Model[0].submissionID</h1>
            foreach (WebDV.Models.Submission sub in Model)
            {
                if (sub.submissionData != null)
                {
                    <iframe class="submission-iframe" srcdoc="@System.Text.Encoding.UTF8.GetString(sub.submissionData)"></iframe>
                }
            }
        }
        <hr />
        <h2>Provide feedback</h2>
        @Html.ValidationMessage("fileError")
        <form class="feedback-form" method="post" action="/Feedback/Edit/@Model[0].submissionID">
            Feedback text: <textarea name="feedbackText">@Model[0].feedbackText</textarea>
            Grade: <input type="number" name="grade" min="0" max="10" accevalue="@Model[0].grade" /> <br />
            <input type="submit" class="btn btn-submit"/>
        </form>
    </div>
</body>
</html>

