
@{
    ViewBag.Title = "WebDV App";
    var usernames = ViewBag.UserNames;
}
@model WebDV.Models.Submission[]
<h2>List of submissions</h2>
@if (Request.IsAuthenticated && User.IsInRole("Student")) {
    <a class="btn btn-new-submission" href="/Submission/Create">Create New Submission</a>
}
<div class="tableover">
    <table class="submission-table">
        <tr>
            <th>Sub. ID</th>
            <th>User</th>
            <th>Date</th>
            <th>Grade</th>
            <th>Feedback Text</th>
            <th>Feedback Author</th>
            <th>Actions</th>
        </tr>
        @foreach (var s in @Model)
        {
        <tr>
            <td>@s.submissionID</td>
            <td>@usernames[s.userID]</td>
            <td>@s.date</td>
            <td><p class="grade" grade="@s.grade">@if(s.grade == -1){ @("Unmarked"); } else{ @s.grade; }</p></td>
            <td>@s.feedbackText</td>
            <td>@if (s.feedbackAuthor != null){@usernames[s.feedbackAuthor]}</td>
            <td>
                @if (User.IsInRole("Lecturer")){
                <a class="action-link" href="/Feedback/Details/@s.submissionID">Feedback</a>
                } else {
                <a class="action-link" href="/Submission/Details/@s.submissionID">View</a>
                }
            </td>
        </tr>
        }
    </table>
</div>
