@using WebDV.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="loginform">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please enter your credentials to log in</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="group">
                    @Html.LabelFor(m => m.Email, new { @class = "label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="group">
                    @Html.LabelFor(m => m.Password, new { @class = "label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="group">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="group">
                        <input type="submit" value="Log in" class="btn btn-log" />
                </div>
            }
        </section>
    </div>
</div>